/*General tags*/
.clearer {clear:both;}
.clearerleft {clear:left;}
.Hidden {visibility: hidden;height: 0;width: 0;overflow: hidden;}

img { border: 0; }
body { color:#3c3c3c; background:#ffffff}
body { font-family:Tahoma,Arial,Helvetica,sans-serif; font-size:11px; text-align:center; }
td, textarea { font-family:Tahoma,Arial,Helvetica,sans-serif; font-size:11px; }

a:link {text-decoration:none; color:#3c3c3c;}
a:visited { color:#3c3c3c; text-decoration:none; }
a:hover {text-decoration:underline;}
a:active {text-decoration:underline;}


/*Islandora Thumbnail layout*/
.IslandoraShell a:link, 
.IslandoraShell a:visited {
	text-decoration:none
}

.IslandoraShell a:hover, 
.IslandoraShell a:active {
	text-decoration:underline
}

.IslandoraShell { 
	 float:left; 
	 margin:0 15px 10px 0; 
	 padding:0; 
	 width:164px; 
}

.IslandoraShell {
	padding:0;
	float: left;
	margin: 0px 10px 10px 0px; 
	width: 164px;
}

.IslandoraOuterPanel {
	background:#e8e8e8;
	border-color:#bebebe; 
	border-style:solid; 
	border-width:1px; 
	width: 164px; 
}

.IslandoraOuterPanel div:hover { 
	background:#ffffff
}

.IslandoraInnerPanel {
	background:#e8e8e8;
	border-color:#ffffff; 
	border-style:solid; 
	border-width:1px;
	padding: 0px;
}

.IslandoraAlign {
	width:162px;
	height:160px;
	text-align: center;
	vertical-align: middle
}

.ImageBorder {
	border: 1px solid #FFFFFF; 
  max-width: 150px;
  height:auto !important;
  max-height: 150px;
  width:auto !important;




}

.IslandoraShellInfo {
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 5px; 
	text-align: left;
	padding-right: 5px;
}	

.IslandoraShellLocation {
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 2px;
	float: left;
	clear: left;
	display:inline;
}

.IconEmail { 
	background:transparent url(email.png) no-repeat scroll 0 0
}

.IconEmail	{
	width:16px;
	height:12px;
	padding: 0;
	display: block;
	margin-left: 4px;
	float: right
}

.IconPreview { 
	background:transparent url(pre.png) no-repeat scroll 0 0
}

.IconPreview { 
	display:block; 
	float:right; 
	height:12px; 
	margin-left:5px;  
	margin-right:5px; 
	padding:0; 
	width:16px;
}


/* style for ellipsis start */

.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    width: 130px;
    overflow: hidden;
}

/*
    Drop Shadow
	yDSF (ydnar Drop-Shadow-Fu)
	ydnar@sixapart.com - http://www.sixapart.com
*/

.shellshadow {
	display: block;
	position: relative;
	margin: 4px -4px -4px 4px;
	background: url(shadow-grid.gif) repeat;
}

/* ie6 ignores this selector */
html>body .shellshadow {
	margin: 10px -10px -10px 10px;
	background: url(shadow.png) right bottom no-repeat;
}

/* shadow corners */
.shellshadow:before,
.shellshadow:after {
	content: " ";
	display: block;
	width: 10px;
	height: 10px;
	background: inherit;	
}

.shellshadow:before {
	position: absolute;
	top: 0;
	right: 0;
	margin: -10px 0 0 auto;
	background-position: right top;
}

.shellshadow:after {
	margin: -10px 0 0 -10px;
	background-position: left bottom;
}

.shellshadow .inner {
	display: block;
	position: relative;
	overflow: hidden; /* prevents margin leakage from child elements */
	left: -4px;
	top: -4px;
}

/* ie6 ignores this selector */
html>body .shellshadow .inner {
	left: -10px;
	top: -10px;
	margin: 0;
}
/* helper classes (not YDSF related) */



.left {
	float: left;
	display: inline; /* fixes ie double margin-left bug */
}

.right { float: right; }

